<div class="contenedor-horizontal">
  <div class="card-wrapper">
    <!-- Tarjeta -->
    <div class="card">
      <img src="/img/Yare.jpg" alt="Imagen personalizada" class="card__image" />
      <div class="card__content">
        <p class="card__title">Para esa niña de ojos bonitos, o sea, mi novia y cumpleañera 💖</p>
       <p class="card__description">Primero que nada... Feliz cumpleaños mi amor, hoy es un dia mas que 
        importante para mi, porque es el dia en que llegaste a este mundo y me hiciste la persona mas feliz del universo,
        te amo con todo mi ser y espero que este dia sea tan especial como tu lo eres para mi, te amo mucho y espero que
        disfrutes de este regalo que te hice con mucho amor, espero que te guste y que te haga sonreir, porque eso es lo que mas me gusta de ti, tu sonrisa y tu risa, eres la persona mas hermosa del mundo y siempre lo seras para mi, te amo mucho mi amor, feliz cumpleaños.
    </p>
      </div>
    </div>
  </div>

  <div class="cake-container">
    <div class="cake">
      <div class="top-layer"></div>
      <div class="middle-layer"></div>
      <div class="bottom-layer"></div>
      <div class="candle">
        <div class="flame"></div>
      </div>
    </div>
  </div>
</div>


