<div class="title-container">
  <h2>Cosas que pienso de ti pero nunca te he dicho</h2>
</div>

<div class="card-container">
  <div class="book">
    <div class="book-content">
      <p>Sueles sonrojarme mucho aunque me da algo de pena admitirlo</p>
    </div>
    <div class="cover">
      <p>One</p>
    </div>
  </div>

  <div class="book">
    <div class="book-content">
      <p>Tu voz hace que mi corazón se emocione</p>
    </div>
    <div class="cover">
      <p>Two</p>
    </div>
  </div>

  <div class="book">
    <div class="book-content">
      <p>Siempre he creído que eres alguien fuerte en todo sentido</p>
    </div>
    <div class="cover">
      <p>Three</p>
    </div>
  </div>

  <div class="book">
    <div class="book-content">
      <p>Ya les he hablado a mi familia de ti y saben de ti... peeero como amiga por el momento</p>
    </div>
    <div class="cover">
      <p>No se que sigue me fallo el inglish TwT</p>
    </div>
  </div>
</div>
